:root{
	--leftWidth: 17vw;
	--gapBase: 1em;
	--gridRowCount: 2;
	--gridColsCount: 2;
	--gridColsMiddle: 1;
	--timeItemBgLight: 75%;
	--timeItemBgSat: 30%;
	--markerBgInt: 35%;
}
#header{
	z-index: 99 !important;
}
#content-container-wrapper{
	width: calc(100vw - var(--leftWidth) - var(--gapBase) * 2);
}
#content-container{
	text-align: justify;
	overflow-x:unset;
	overflow-y:unset;
}#left-side-content-container{
	position: relative;
	top: calc(var(--headerPer) * 1em);
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}
#left-side-content-container-wrapper{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(var(--leftWidth) + var(--gapBase) / 2);
	position:fixed;
	left: 0;
	top: 0;
	background: var(--invBg);
	color: var(--bgBody);
	padding-right: var(--gapBase);
}
#left-side-content-container-wrapper::-webkit-scrollbar-thumb {
	background: var(--scrollbarColorInv); 
	box-shadow: inset 0px 0px 2px 2px var(--invBg);
}
#left-side-content-container-wrapper::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarHoverInv); 
}
#left-side-content-container-wrapper p{
	color: var(--bgBody);
}#left-side-content-container-wrapper h3{
	color: var(--bgBody);
}}#left-side-content-container-wrapper h2{
	color: var(--bgBody);
}
#text-left{
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 2em;
	padding-bottom: 2em;
	color: var(--bgBody) !important;

}.exp-text{
	text-align: justify;
	margin: var(--gapBase);
}
.fact-data p{
	margin: var(--gapBase);
}.fact-oneline{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 5em calc(100% - 5em);
}.quick-fact{
	margin-top: var(--gapBase);
	margin-right: var(--gapBase);
}

.time-element-title{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 7em calc(100% - 7em);
	margin-top: 1em;
}.time-element-elab{
	padding-right: calc(7em + var(--gapBase));
}
.indented{
	padding-right: var(--gapBase);
}
.exdented{
	margin-right: var(--gapBase);
}
h2{
	margin-top: 0;
}
#sub-header{
	display: flex;
	height: min-content;
	overflow: hidden;
}#sub-header img{
	max-height: 100%;
	max-width: 25%;
	object-fit: contain;
	display: inline;
	mix-blend-mode: exclusion;
	filter: invert(1);
}
#timeline-grid {
	display: grid;
	grid-template-columns: /*repeat(var(--gridColsMiddle), 1fr)*/ 4em 4em repeat(calc(var(--gridColsCount) - var(--gridColsMiddle)), 1fr);
	grid-template-rows: repeat(calc(var(--gridRowCount) - 1), minmax(8em, auto)) 1px;
	/*gap: 1em;*/
	position: relative;
	margin-top: 3em;
	margin-bottom: 3em;
}
.timeline-year{
	grid-column: calc(var(--gridColsMiddle) + 1) / calc(var(--gridColsMiddle) + 3);
	position: absolute;
	text-align: center;
	width: 100%;
	top: -0.5rem;
	z-index: 10;
}
.timeline-year .marker{
	--rad: 2.5em;
	--border: 3px;
	border-radius: 50%;
	height: var(--rad);
	width: var(--rad);
	z-index: -1;
	border: var(--border) solid color-mix(in srgb, var(--invBg) 100%, #80808080);
	background: color-mix(in srgb, var(--bgBody) var(--markerBgInt), #808080);
	opacity: 0.8;
	position: absolute;
	right: calc(50% - var(--rad) / 2 - var(--border) / 2);
    top: calc(0.5em - var(--rad) / 2 - var(--border) / 2);
}
#grid-axis{
	grid-rows: 1 / -1;
	grid-column: calc(var(--gridColsMiddle) + 1) / calc(var(--gridColsMiddle) + 3);
	height:100%;
	width: 2px;
	z-index: -5;
	background: var(--invBg);
	position: absolute;
	right: 50%;
}
.timeline-item {
	position: relative;
	background: color-mix(in srgb, var(--bgBody) 70%, #80808080);
	border-bottom: 1px solid var(--bgBody);
	border-top: 1px solid var(--bgBody);
	border-radius: 0.7em 0 0 0.7em;
	border-right: 3px solid color-mix(in srgb, var(--invBg) 35%, hsl(var(--baseColorHue), 100%, 70%));
	margin-left: 1.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	/*color: color-mix(in srgb, var(--invBg) 50%, rgba(0,0,0,0));*/
	transition: color 0.3s ease, opacity 0.3s ease;
}
.timeline-item:hover{
	/*opacity: 1;*/
	/*color: var(--invBg);*/
}.timeline-item.chosen{
	opacity: 1;
	color: var(--invBg);
}
.timeline-marker{
	width: 12px;
	height: 12px;
	background: color-mix(in srgb, #ddd 75%, hsl(var(--baseColorHue), 100%, 70%));
	border-radius: 50%;
	position: absolute;
	opacity: 0.6;
	right: -7.5px;
	pointer-events: none;
	border: 1px solid var(--invBg);
}.timeline-marker.top{
	top: -6px;
}.timeline-marker.bottom{
	bottom: -6px;
}
.border-line{
	position: absolute;
	height: 100%;
	width:100%;
	grid-column: min(calc(var(--gridColsMiddle) + 2), var(--gridColLoc)) / max(calc(var(--gridColsMiddle) + 2), var(--gridColLoc));
	border-top: 1px dashed var(--invBg);
	border-bottom: 1px dashed var(--invBg);
	opacity: 0.3;
	z-index: 6;
	pointer-events: none;
}.border-line-shifted{
	width: calc(100% + var(--gapBase));
}.right-side.border-line-shifted{
	left: 0;
}.left-side.border-line-shifted{
	right: 0;
}
.category-education{
	/*border-left: 1px solid var(--invBg);*/
	/*margin-right: 1.5em;*/
	--baseColorHue: 240;
	background: color-mix(in srgb, var(--bgBody) 70%, hsla(var(--baseColorHue), var(--timeItemBgSat), var(--timeItemBgLight), 0.5));
}.category-exhibitions{
	--baseColorHue: 270;
	background: color-mix(in srgb, var(--bgBody) 70%, hsla(var(--baseColorHue), var(--timeItemBgSat), var(--timeItemBgLight), 0.5));
}.category-projects{
	--baseColorHue: 110;
	background: color-mix(in srgb, var(--bgBody) 70%, hsla(var(--baseColorHue), var(--timeItemBgSat), var(--timeItemBgLight), 0.5));
}.category-jobs{
	--baseColorHue: 20;
	background: color-mix(in srgb, var(--bgBody) 70%, hsla(var(--baseColorHue), var(--timeItemBgSat), var(--timeItemBgLight), 0.5));
}
timeline-content{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.timeline-content {
	font-size: 1em;
}
.timeline-content .timeline-title{
	font-weight: bolder;
}.timeline-content .action{
	font-style: italic;
}.timeline-content .content-title{
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	text-align: right;
	color: var(--invBg);
}.timeline-content .elab{
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	line-height: 1.5;
	opacity: 0.3;
	transition: opacity 0.3s ease;
}.timeline-content .elab.i{
	max-width: 100%;
	filter: grayscale(0.7) brightness(0.8) contrast(2);
}
.timeline-item.chosen .timeline-content .elab{
	opacity: 1;
}.timeline-item.chosen-sub .timeline-content .elab{
	opacity: 1;
}
.timeline-content .show-mark{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #808080;
	transition: transform 0.5s ease;
	transform: rotate(0deg);
	border: 1px solid var(--invBg);
}
.timeline-content .show-mark.hide{
	transform: rotate(180deg);
}
#timeline-legend{
	position: fixed;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: conic-gradient(red, yellow, lime, cyan, blue, magenta, red);
	-webkit-mask: radial-gradient(farthest-side, transparent 60%, black 0);
	mask: radial-gradient(farthest-side, transparent 60%, black 0);
	bottom: 15px;
	left: calc(var(--leftWidth) + 15px + var(--gapBase));
	overflow: visible;
}
#timeline-legend-container{
	bottom: 55px;
	left: calc(var(--leftWidth) + 15px + var(--gapBase));
	position: fixed;
	background: color-mix(in srgb, var(--bgBody) 50%, #808080a0);
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--invBg);
}
#timeline-legend-container .legend-color{
	background: color-mix(in srgb, var(--invBg) 20%, hsl(var(--baseColorHue), 100%, 50%)) !important;
	width: 50px;
	height: 25px;
}
#timeline-legend-container .legend-tag{
	padding-right: var(--gapBase);
	margin: 10px;
}
.elab-link{
	font-weight: bolder;
	cursor: pointer;
	color: color-mix(in srgb, var(--invBg) 50%, blue);
}
#preview-img-page{
	position: fixed;
	z-index: 101;
	display: inherit;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
	border:1px solid var(--invBg);
	border-radius: 10px;
}
#preview-wrapper{
	position: fixed;
	display: flex;
	z-index: 100;
}
#preview-page-bg{
	position: fixed;
	z-index: 100;
	display: inherit;
	height: 100vh;
	width: 100vw;
	background: #000000c0;
}
#close-button{
	position: fixed;
	z-index: 102;
	display: inherit;
	border: 1px solid #aaa;
	padding: 5px;
	display: flex;
	border-radius: 0.4em;
	background: #222;
	color: white;
	top: 10vh;
	right: calc(10vw - 2em);
	cursor: pointer;
}
