:root{
	--leftWidth: 30vw;
	--gapBase: 1em;
}
#content-container-wrapper{
	width: calc(100vw - var(--leftWidth) - 3 * var(--gapBase));
}
#content-container{
	text-align: justify;
	border-right: 1px solid color-mix(in srgb, var(--invBg) 30%, #80808080);
}#left-side-content-container{
	position: relative;
	top: calc(var(--headerPer) * 1em);
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}
#left-side-content-container-wrapper{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: var(--leftWidth);
	position:fixed;
	left: 0;
	top: 0;
}
#main-container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 50px;
	gap:3%;
	height: 100%;
}
#text-left{
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 2em;
	padding-bottom: 2em;

}.exp-text{
	text-align: justify;
	margin: var(--gapBase);
}
.fact-data p{
	margin: var(--gapBase);
}.fact-oneline{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 5em calc(100% - 5em);
}.quick-fact{
	margin-top: var(--gapBase);
	margin-right: var(--gapBase);
}

#text-right{
	border-left: 1px solid color-mix(in srgb, var(--invBg) 30%, #80808080);
}.time-element-title{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 7em calc(100% - 7em);
}.time-element-elab{
	padding-right: calc(7em + var(--gapBase));
}

.indented{
	padding-right: var(--gapBase);
}
h2{
	margin-top: 0;
}