:root {
	--textColor:white;
	--bgBody:#000;
	--invBg:#fff;
	
	--scrollbarColor:#333;
	--scrollbarHover:#999;
	
	--headerPer: 2.5;
	--footerPer:0;
	
	--darkButtonRot: 0 0 1 0deg;
}

body {
	height: 100vh;
	width: 100vw;

	font-family: 'Courier New', monospace;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: /*calc(var(--headerPer)*1%)*/ calc((100  /*- var(--headerPer)*/ - var(--footerPer))*1%) calc(var(--footerPer)*1%);
	/*align-items: flex-start;*/
	justify-content: center;
	margin: 0;
	background-color: var(--bgBody);
	font-size: 16px;
	color: var(--textColor);
	direction: rtl;
}
#header{
	height: calc(var(--headerPer) * 1em);
	position: fixed;
	z-index:5;
	top:0;
	left:0;
	width: 100%;
	overflow: visible;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr) calc(var(--headerPer) * 2 * 1em);
	gap: 1%;
}
#content-container{
	width: 100%;
	position: relative;
	top: calc(var(--headerPer) * 1em);
	overflow-x: hidden;
	overflow-y: auto;
}
#content-container-wrapper{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#footer{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 15% 15% 15% 15% 15%;
	gap: 2%;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
/*background: var(--bgBody);*/
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor); 
	box-shadow: inset 0px 0px 2px 2px var(--bgBody);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarHover); 
}
/* end scrollbar */
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #808080;}
.s3 { color: #6897bb;}
.s4 { color: #629755; font-style: italic;}
.s5 { color: #6a8759;}
.code{
	background-color: black;
	font-family: monospace;
	font-size: 13px;
}
.code pre {
	display: inline-block; /* Make spans break lines */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.code pre span {
	white-space: pre-wrap; /* Preserve line breaks but allow wrapping */
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.code::-webkit-scrollbar {
	width: 10px;
}
/* Handle */
.code::-webkit-scrollbar-thumb {
	background: #333; 
	box-shadow: inset 0px 0px 2px 2px #000;
}
/* Handle on hover */
.code::-webkit-scrollbar-thumb:hover {
	background: #999; 
}
.hidden {
	visibility: hidden;
	position: fixed;
}
h3 {
    position: relative;
    color: var(--textColor);
    text-align: right;
    direction: rtl;
}
p {
    position: relative;
    color: var(--textColor);
    unicode-bidi: isolate;
    text-align: right;
    justify-content: right;
    word-wrap: break-word;
    text-align: right;
    direction: rtl;
}
.nav-container {
	background: color-mix(in srgb, var(--bgBody) 30%, #80808080);
	border: none;
	cursor: pointer;
	border-radius: 0 0 1em 1em;
	display: inline-block;
	padding: 0.5em 1em;
	color: var(--invBg);
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
}
#dark-button{
	width: calc(var(--headerPer) * 2em);
	height: calc(var(--headerPer) * 0.8em);
	border-radius: calc(var(--headerPer) * 0.5em);
	overflow:hidden;
	rotate: var(--darkButtonRot);
	transition: all 1s ease;
	background-color: var(--bgBody)
}
#toggle-dark{
	height: calc(var(--headerPer) * 0.8em);
	width: calc(var(--headerPer) * 0.8em);
	position: absolute;
	left: 0;
	border-radius: 50%;
    background-size: contain;
	background-color:#000;
	background-image: url("https://yairmallah.github.io/portfolio/imgs/sys/moon.svg");
}
#toggle-light{
	height: calc(var(--headerPer) * 0.8em);
	width: calc(var(--headerPer) * 0.8em);
	position: absolute;
	right: 0;
	border-radius: 50%;
    background-size: contain;
	background-color:#fff;
	background-image: url("https://yairmallah.github.io/portfolio/imgs/sys/sun.svg");
	background-repeat: no-repeat;
}
