::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #d9472ea0;
	box-shadow: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d9472e;
}