:root {
	--textColor:white;
	--bgBody:#000;
	--invBg:#fff;
	
	--scrollbarColor:#333;
	--scrollbarHover:#999;
	
	--headerPer: 2.5;
	--footerPer:0;
}

body {
	height: 100vh;
	width: 100vw;

	font-family: 'Courier New', monospace;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: /*calc(var(--headerPer)*1%)*/ calc((100  /*- var(--headerPer)*/ - var(--footerPer))*1%) calc(var(--footerPer)*1%);
	/*align-items: flex-start;*/
	justify-content: center;
	margin: 0;
	background-color: var(--bgBody);
	font-size: 16px;
	color: var(--textColor);
	direction: rtl;
}
#header{
	height: calc(var(--headerPer) * 1em);
	position: fixed;
	z-index:5;
	top:0;
	left:0;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeate 4%;
	gap: 1%;
}
#content-container{
	width: 100%;
	position: relative;
	top: calc(var(--headerPer) * 1em);
	overflow-x: hidden;
	overflow-y: auto;
}
#content-container-wrapper{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#footer{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 15% 15% 15% 15% 15%;
	gap: 2%;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
/*background: var(--bgBody);*/
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor); 
	box-shadow: inset 0px 0px 2px 2px var(--bgBody);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarHover); 
}
/* end scrollbar */
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #808080;}
.s3 { color: #6897bb;}
.s4 { color: #629755; font-style: italic;}
.s5 { color: #6a8759;}
.code{
	background-color: black;
	font-family: monospace;
	font-size: 13px;
}
.code pre {
	display: inline-block; /* Make spans break lines */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.code pre span {
	white-space: pre-wrap; /* Preserve line breaks but allow wrapping */
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.code::-webkit-scrollbar {
	width: 10px;
}
/* Handle */
.code::-webkit-scrollbar-thumb {
	background: #333; 
	box-shadow: inset 0px 0px 2px 2px #000;
}
/* Handle on hover */
.code::-webkit-scrollbar-thumb:hover {
	background: #999; 
}
.hidden {
	visibility: hidden;
	position: fixed;
}
h3 {
    position: relative;
    color: var(--textColor);
    text-align: right;
    direction: rtl;
}
p {
    position: relative;
    color: var(--textColor);
    unicode-bidi: isolate;
    text-align: right;
    justify-content: right;
    word-wrap: break-word;
    text-align: right;
    direction: rtl;
}
a.navItem {
	display: inline-block;
	padding: 0.5em 1em;
	color: var(--invBg);
	border: none;
	text-decoration: none;
	margin: auto;
	font-weight: bolder;
}
.nav-container {
	display: flex;
	background: color-mix(in srgb, var(--bgBody) 30%, #80808080);
	border: none;
	cursor: pointer;
}
#dark-button{
	width:40px;
	height:40px;
	border-radius: 50%;
	overflow:hidden;
	border: 2px solid var(--textColor);
	opacity:0.7;
	rotate: 0 0 1 45deg;
}
#toggle-dark{
	height:50%;
	width:100%;
	background-color:#000;
}
#toggle-light{
	height:50%;
	width:100%;
	background-color:#fff;
}
