:root {
	--textColor:white;
	--bgBody:#000;
	--headerPer: 2.5;
	--darkButtonRot: 0 0 1 0deg;
}
#header{
	height: calc(var(--headerPer) * 1em);
	position: fixed;
	z-index:5;
	top:0;
	left:0;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: calc(var(--headerPer) * 1em + 1vw) repeat(3, 1fr) calc(var(--headerPer) * 2 * 1em);
	gap: 1%;
	font-family: 'Courier New', monospace;
	font-size: 16px;
	color: var(--textColor);
	direction: rtl;
	background: linear-gradient(0deg,transparent 0%, color-mix(in srgb, var(--bgBody) 30%, #80808080) 100%);
	backdrop-filter: blur(2px);
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#header::-webkit-scrollbar {
	height:3px;
}
#header::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--bgBody) 50%, #808080);
	box-shadow: none;
}
#header::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--bgBody) 50%, #808080);
}
.nav-container {
	/*background: color-mix(in srgb, var(--bgBody) 30%, #80808080);*/
	cursor: pointer;
	border-radius: 0 0 1em 1em;
	display: inline-block;
	padding: 0.5em 1em;
	color: var(--textColor);
	text-decoration: none;
	font-weight: lighter;
	text-align: center;
	white-space: nowrap;
	/*border: 2px solid var(--invBg);*/
	border-top: 0;
	transition: background 0.5s ease;
}
.nav-container:hover{
	font-weight: bolder;
	background: #80808020;
}
#dark-button{
	width: calc(var(--headerPer) * 2em);
	height: calc(var(--headerPer) * 0.8em);
	border-radius: calc(var(--headerPer) * 0.5em);
	overflow:hidden;
	rotate: var(--darkButtonRot);
	transition: all 1s ease;
	background-color: var(--bgBody)
}
#toggle-dark{
	height: calc(var(--headerPer) * 0.8em);
	width: calc(var(--headerPer) * 0.8em);
	position: absolute;
	left: 0;
	border-radius: 50%;
    background-size: contain;
	background-color:#000;
	background-image: url("https://yairmallah.github.io/portfolio/imgs/sys/moon.svg");
}
#toggle-light{
	height: calc(var(--headerPer) * 0.8em);
	width: calc(var(--headerPer) * 0.8em);
	position: absolute;
	right: 0;
	border-radius: 50%;
    background-size: contain;
	background-color:#fff;
	background-image: url("https://yairmallah.github.io/portfolio/imgs/sys/sun.svg");
	background-repeat: no-repeat;
}
#fav-cont{
	height: 100%;
	width: 100%;
	background-image: url("https://yairmallah.github.io/portfolio/imgs/sys/fav.svg");
	background-size: contain;
	background-repeat: no-repeat;
}