body{
	display:flex;
	justify-content: center;
	background: #333;
	transition: background 7s ease;
}
#svg-fav{
	height: min(80vh, 80vw);
	width: min(80vh, 80vw);
	position: fixed;
	top: max(0vh, calc((100vh - min(80vh, 80vw)) / 2));
	right: max(0vh, calc((100vw - min(80vh, 80vw)) / 2));
	transition: all 1.5s ease;
}
#header{
	/*display: none !important;*/
	opacity: 0;
	transition: opacity 2s linear;
}
#content-container{
	position: fixed !important;
}
.svg-fav-ele{
	opacity: 0;
	transition: opacity 3s ease;
}
.fav-seen{
	opacity: 1;
}
#svg-obj-0{
	animation: pop 2s ease alternate;
	animation-iteration-count: 6;
	transform-origin: center;
}
@keyframes pop {
	from {
		transform: scale(1);
		fill: #808080;
	}
	to {
		transform: scale(1.05);
		fill: #806060;
	}
}