:root{
	--gridRows: 20% 20% 20% 20% 20%;
	--gridColumns: 25% 25% 25% 25%;
	--gridGap: 1vw;
	--gridRatio: 16 / 9;
}
#sandbox-container {
	width: 100%;
	height:100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
#sandbox {
	max-width: 100%;
	background: var(--bgBody);
	position: relative;
	outline: 1px solid #999;
	cursor: crosshair;
	overflow: hidden;
	display: grid;
	grid-template-columns: var(--gridColumns);
	grid-template-rows: var(--gridRows);
	gap: var(--gridGap);
	aspect-ratio: var(--gridRatio);
	direction: ltr;
}
pre#output {
	white-space: pre-wrap;
	background: #333;
	padding: 1rem;
	border: 1px solid #ddd;
	color: white;
}
#layout-tool {
	display: flex;
	gap: 10px;
	height:calc((100 - var(--headerPer) - var(--footerPer))*1vh);
	overflow-x: hidden;
	overflow-y: auto;
}

#sidebar {
	position:fixed;
	z-index:3;
	width: 350px;
	height:600px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: sans-serif;
	direction:ltr;
	background-color: #222;
}

#image-list img {
	width: 45%;
	cursor: pointer;
	border: 2px solid transparent;
}

#image-list img.selected {
	border-color: blue;
}
input{
	max-width: 30px;
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
.placed-img {
	outline: 2px solid rgba(255, 0, 0, 0.7);
}
.grid-line {
	position: absolute;
	outline: 1px dotted rgba(127,127,127,0.8);
    background: var(--linesColor);
	z-index: 2;
	mix-blend-mode: normal;
}