:root {
	--bgBody: black;
	--drawHueRot: 180deg;
}

#projects-table{
	border: none;
	height: 100%;
	width:100;
}
.projects-row{
	border: none;
	height: calc((90 - var(--headerPer)) / 2 * 1%);
}
.projects-cell{
	border: none;
	/*border: solid 1px red;*/
	width: 25vw;
}
.project-icon-wrapper{
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-rows: 80% 20%;
	grid-template-columns: 100%;
}
.project-icon-container{
	margin: auto;
	width: 17vh;
	height: 17vh;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: scale 1s ease-out;
	background: var(--bgBody);
	border-radius: 100%;
	mask: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 70%);
}

.project-icon{
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;

	/* Fade at the edges */
	/*-webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 70%);
	mask-image: radial-gradient(circle, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 70%);*/
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	transition: filter 1s ease;
}
.draw-bw{
	filter: invert(1) hue-rotate(var(--drawHueRot)) grayscale(90%) /*blur(.2px)*/ brightness(500%)/* contrast(500%) blur(0.5px)*/;
	mix-blend-mode: exclusion;
}
.pre-draw-bw{
	filter: invert(1) hue-rotate(180deg) grayscale(100%) contrast(2);
	mix-blend-mode: exclusion;
}
.original{
	filter: invert(0) hue-rotate(0deg) contrast(1.5);
	mix-blend-mode: exclusion;
}
.photo-black-bg{
	filter: grayscale(100%) brightness(80%) contrast(150%);
}
.photo-brighter{
	filter: grayscale(100%) brightness(120%) contrast(250%);
}
.project-title{
	text-align: center;
}
