:root{
	--imgsZ: 3;
	--linesColor: rgba(0, 0, 0, 0.05);
	--gridEvents: none;
}
.grid-line {
	position: absolute;
	outline: 1px dashed black;
    background: var(--linesColor);
	pointer-events: var(--gridEvents);
	z-index: 2;
}
.grid-line-x {
	width: var(--gridGap);
	height: 100%;
}
.grid-line-y {
	height: var(--gridGap);
	width: 100%;
}
.placed-img {
	position: absolute;
	object-fit: contain;
	outline: 2px solid rgba(255, 0, 0, 0.7);
	height:100%;
	width:100%;
	display: block;
	z-index: var(--imgsZ);
}
#layout-wrapper {
	display: grid;
	grid-template-columns: var(--gridColumns);
	grid-template-rows: var(--gridRows);
	gap: var(--gridGap);
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: var(--gridRatio);
}