:root {
	--bgBody: black;
	--rightWidth: 25vw;
	--scrollbarColorS: #555;
	--scrollbarHoverS: #AAA;
	--dMargin: 10px;
	--boolIcon: 0;
}
#content-container-wrapper{
	width: calc(100vw - var(--rightWidth) - 10px) !important;
	position: absolute !important;
	left: 0 !important;
	height: 100vh;
}
#content-container{
	height: calc(100vh - var(--headerPer) * 1em) !important;
	width: 100% !important;
}
#menu{
	position: relative;
	top: calc(var(--headerPer) * 1em);
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
	width: 100%;
	height: 180vh;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
}
#menu-wrapper{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: var(--rightWidth);
	position:fixed;
	right: 0;
	top: 0;
	background: color-mix(in srgb, var(--bgBody) 50%, #808080);
	direction: ltr;
}
#menu-wrapper::-webkit-scrollbar-thumb {
	background: var(--scrollbarColorS); 
	box-shadow: inset 0px 0px 2px 2px color-mix(in srgb, var(--bgBody) 50%, #808080);
}
#menu-wrapper::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarHoverS); 
}
.menu-item-wrapper{
	width: 100%;
	height: fit-content;
	position: relative;
}
.menu-item{
	border-radius: 10px;
	transition: background 0.5s ease;
	width: calc(80% - var(--headerPer) * 1em - 1vw);
	margin-right: calc(var(--headerPer) * 1em + 1vw);
	padding: 10px;
	position: relative;
}
.menu-item:hover{
	background: #80808080;
}
.menu-item .item-title{
	margin: 0;
	margin-bottom: 10px;
}
.menu-item .item-elab{
	margin: 0;
	margin-bottom: 5px;
	margin-right: 1em;
}
.menu-item-wrapper .item-pointer{
	background: url("https://yairmallah.github.io/portfolio/imgs/sys/elabTring.svg");
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0%, -50%);
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(var(--boolIcon));
	width: 20%;
	opacity: 0;
	aspect-ratio: 1 / 2;
	
}.menu-item-wrapper.chosen .item-pointer{
	opacity: 1;
}
#action-container{
	height: 100%;
	width: 100%
}
#action-iframe{
	height: calc(100% - var(--dMargin));
	width: 100%;
	border: none;
}