body{
	text-align: justify;
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	scroll-behavior: smooth;
}
#examples-container{
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	scroll-behavior: smooth;
}
.item-cont{
	width: 100%;
	max-height: 90vh;
	display: grid;
	grid-template-columns: 50% 50%;/*repeat(2, 1fr);*/
	grid-template-rows: 50% 50%;/*repeat(2, 1fr);*/
	scroll-snap-align: center;
}
.item-cont .text{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	overflow-y: auto;
	overflow-x: hidden;
}
.item-cont .main{
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}.item-cont .main *{
	object-fit: contain;
    background-size: contain;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
.item-cont .supp{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	overflow: auto;
}